include requirements/*
include MANIFEST.in
include README.rst
include LICENSE
recursive-include scrubadub/detectors/models *.json
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * *.orig
